High Value Customer Identification (Insiders)

In [1]:
from sqlalchemy import create_engine
from sklearn.preprocessing import StandardScaler, RobustScaler,MinMaxScaler
import pandas as pd
import numpy as np
import re, pickle, s3fs

In [2]:
!pip list --format=freeze > requirements_production.txt

WARNING: Ignoring invalid distribution -ip (p:\python\github\insiders_clustering\venv_10\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (p:\python\github\insiders_clustering\venv_10\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (p:\python\github\insiders_clustering\venv_10\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (p:\python\github\insiders_clustering\venv_10\lib\site-packages)

In [3]:
aws_key_id = os.environ.get( "AWS_ACCESS_KEY_ID" )
aws_key_secret = os.environ.get( "AWS_SECRET_ACCESS_KEY" )

In [4]:
cred = pd.read_csv("../../cred.csv", encoding='latin1')
aws_key_id = cred["Access key ID"][0]
aws_key_secret = cred["Secret access key"][0]

## 0.2 Load dataset

In [38]:
# df0 = pd.read_csv('s3://insiders-clustering-deploy/data.csv', storage_options={ "key":aws_key_id,
#                                                                                 "secret":aws_key_secret}, encoding='latin1')
df0 = pd.read_parquet('data.parquet')
#df0 = pd.read_csv('data.csv')                                                                                                
df0.columns=df0.columns.str.lower()
df0.head(3)

,invoiceno,stockcode,description,quantity,invoicedate,unitprice,customerid,country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom

In [6]:
df1=df0.copy()

In [7]:
df_missing=df1[df1['customerid'].isna()]
df_not_missing=df1[~df1['customerid'].isna()]
df_missing[df_missing['invoiceno'].isin(df_not_missing['invoiceno'])].shape

(0, 8)

In [8]:
# create reference
df_backup = pd.DataFrame( df_missing['invoiceno'].drop_duplicates())
df_backup['customerid']=np.arange(80000, 80000+len( df_backup ), 1)

# merge original with reference datafarme
df1 = df1.merge(df_backup, on='invoiceno', how='left')

#coalesce
df1['customerid']=df1['customerid_x'].combine_first( df1['customerid_y'])

#drop extra columns
df1 = df1.drop( columns=['customerid_x','customerid_y'], axis=1)

## 1.3 data types treatment

In [9]:
df1['invoicedate']=df1['invoicedate'].str.split(expand=True)[0]

In [10]:
df1['invoicedate'] = pd.to_datetime( df1['invoicedate'], format="%m/%d/%Y",errors='coerce')
df1['customerid'] = df1['customerid'].astype(int)

# 2.0 Feature Filtering/Cleaning

In [11]:
df2=df1.copy()

In [12]:
 # ----------------------  Numerical attributes ----------------
 # purhcases df and returns df
returns = df2.loc[df2['quantity'] < 0, :]
purchases = df2.loc[df2['quantity'] >= 0, :]


#drop invoices with only letters
df2=df2[~df2['invoiceno'].str.contains('[^0-9]+', na=False)]

#filter only stockcodes with numbers
#df2=df2[df2['stockcode'].str.contains('[0-9]+', na=False)]
print(df2.shape)


# ------------------ Categorical attributes -------------------
# drop description
df2 = df2.drop( columns='description', axis=1 )

# drop "unspecifiec" and "european communoty" countries -  
df2 = df2[~df2['country'].isin( ["European Community",'Unspecified' ] ) ]


# --------------------- Filter bad customer ----------------- (Section 5 Exploratory Data Analysis)
df2=df2[df2['customerid']!=16446]

(532618, 8)

In [13]:
df_ref=df2[['customerid']].drop_duplicates(ignore_index=True)

### 3.1.1 profit (gross revenue - gross outgoings)

In [14]:
# gross revenue
purchases['gross_revenue'] = purchases['quantity'] * purchases['unitprice']
df_monetary = purchases[['customerid', 'gross_revenue']].groupby( 'customerid').sum().reset_index()
df_ref=df_ref.merge(df_monetary,on='customerid',how='left').fillna(0)


# gross outgoings
returns['gross_returns'] = returns['quantity'] * returns['unitprice']*-1
df_returns = returns[['customerid', 'gross_returns']].groupby( 'customerid').sum().reset_index()
df_ref=df_ref.merge(df_returns,on='customerid',how='left').fillna(0)

### 3.1.2 recency

In [15]:
#recency
df_recency = purchases.groupby( 'customerid').max().reset_index()
df_recency['recencydays'] = ( purchases['invoicedate'].max() - df_recency['invoicedate'] ).dt.days
df_recency= df_recency[['customerid','recencydays']].copy()
df_ref=df_ref.merge(df_recency, how='left', on='customerid')

### 3.1.3 quantity of items kept

In [16]:
# quantity of products purchased
df_freq = purchases[['customerid', 'quantity']].drop_duplicates().groupby( 'customerid' ).sum().reset_index().rename( columns={'quantity':'qtd_items'})
df_ref = pd.merge( df_ref, df_freq, on='customerid', how='left' ).fillna(0)

In [17]:
df_freq = returns[['customerid', 'quantity']].drop_duplicates().groupby( 'customerid' ).sum().reset_index().rename( columns={'quantity':'qtd_items_return'})
df_freq['qtd_items_return'] = df_freq['qtd_items_return']*-1
df_ref = pd.merge( df_ref, df_freq, on='customerid', how='left' ).fillna(0)

### 3.1.4 avg ticket

In [18]:
df_ref['avg_ticket']=df_ref['gross_revenue']/(df_ref['qtd_items']-df_ref['qtd_items_return'])
df_ref['avg_ticket']=df_ref['avg_ticket'].replace([np.inf, -np.inf], 0) 
df_ref.isna().sum()

customerid          0
gross_revenue       0
gross_returns       0
recencydays         0
qtd_items           0
qtd_items_return    0
avg_ticket          0
dtype: int64

### 3.1.5 frequency

In [19]:
# frequency

df_aux = ( df2[['customerid', 'invoiceno', 'invoicedate']].drop_duplicates()
                                                        .groupby('customerid')
                                                        .agg( max_ = ('invoicedate', 'max'),
                                                            min_= ('invoicedate', 'min'),
                                                            days_= ('invoicedate', lambda x: (( x.max() - x.min()).days ) +1 ),
                                                            buy_ = ('invoiceno', 'count')).reset_index()
)

df_aux['frequency'] = df_aux[['buy_', 'days_']].apply(lambda x: x['buy_']/x['days_'] if x['days_'] != 0 else 0, axis=1)

df_ref= df_ref.merge(df_aux[['customerid','frequency']], on='customerid', how='left')

df_ref.isna().sum()

customerid          0
gross_revenue       0
gross_returns       0
recencydays         0
qtd_items           0
qtd_items_return    0
avg_ticket          0
frequency           0
dtype: int64

### 3.1.6 basket size

In [20]:
df_aux = ( purchases.loc[:, ['customerid', 'invoiceno', 'quantity']].groupby( 'customerid' )
                                                                            .agg( n_purchase=( 'invoiceno', 'nunique'),
                                                                                  n_products=( 'quantity', 'sum' ) )
                                                                            .reset_index() )

# calculation
df_aux['avg_basket_size'] = df_aux['n_products'] / df_aux['n_purchase']

# merge
df_ref = pd.merge( df_ref, df_aux[['customerid', 'avg_basket_size']], how='left', on='customerid' )
df_ref.isna().sum()

customerid             0
gross_revenue          0
gross_returns          0
recencydays            0
qtd_items              0
qtd_items_return       0
avg_ticket             0
frequency              0
avg_basket_size     1336
dtype: int64

### 3.1.7 nunique items

In [21]:
# basket size
df_aux = ( purchases.groupby('customerid').agg( n_purchases_unique = ('invoiceno','nunique'), n_products = ('quantity','sum'))
                                            .reset_index()
)
#calculation
df_ref = df_ref.merge( df_aux[['customerid', 'n_purchases_unique']], how='left', on='customerid')
print(df_ref.isna().sum())

df_ref.head()

customerid               0
gross_revenue            0
gross_returns            0
recencydays              0
qtd_items                0
qtd_items_return         0
avg_ticket               0
frequency                0
avg_basket_size       1336
n_purchases_unique    1336
dtype: int64

,customerid,gross_revenue,gross_returns,recencydays,qtd_items,qtd_items_return,avg_ticket,frequency,avg_basket_size,n_purchases_unique
0,17850,5391.21,102.58,372.0,35.0,21.0,385.086429,17.000000,50.970588,34.0
1,13047,3237.54,158.44,31.0,132.0,6.0,25.694762,0.029155,139.100000,10.0
2,12583,7281.38,94.04,2.0,1569.0,50.0,4.793535,0.040323,337.333333,15.0
3,13748,948.25,0.00,95.0,169.0,0.0,5.610947,0.017921,87.800000,5.0
4,15100,876.00,240.90,333.0,48.0,22.0,33.692308,0.073171,26.666667,3.0

## 4.2 Filters Applied

In [22]:
df5=df_ref.copy()

In [23]:
print(df5.shape)
df5=df5[df5['customerid']!=16446]
df5=df5[df5['customerid']!=14646]
df5=df5[df5['avg_ticket']>0]
df5['avg_ticket']=df5['avg_ticket'].fillna(0)
print(df5.shape)

(7853, 10)
(5721, 10)

In [24]:
# fs = s3fs.S3FileSystem( anon=False, key=aws_key_id, secret= aws_key_secret)

# mms_cols=[ 'recencydays',
#         'avg_ticket', 'frequency',
#        'avg_basket_size', 'n_purchases_unique']

# rs_cols=['gross_revenue', 'gross_returns', 
#        'qtd_items', 'qtd_items_return',]
       
# for i in mms_cols:
#      mms=pd.read_pickle(f"s3://insiders-clustering-deploy/artifacts/{i}_minmax.pkl")
#      df5[[i]] = mms.transform(df5[[i]])

# for i in rs_cols:
#      kb=pd.read_pickle(f"s3://insiders-clustering-deploy/artifacts/{i}_kbins.pkl")
#      df5[[i]] = kb.transform(df5[[i]])

In [25]:
mms_cols=[ 'recencydays',
        'avg_ticket', 'frequency',
       'avg_basket_size', 'n_purchases_unique']

rs_cols=['gross_revenue', 'gross_returns', 
       'qtd_items', 'qtd_items_return',]
       
for i in mms_cols:
     mms=pd.read_pickle(f"artifacts/{i}_minmax.pkl")
     df5[[i]] = mms.transform(df5[[i]])

for i in rs_cols:
     kb=pd.read_pickle(f"artifacts/{i}_robust.pkl")
     df5[[i]] = kb.transform(df5[[i]])

# 8.0  Model Training

In [26]:
X=df5.drop(columns=['customerid'])

In [27]:
X.head()

,gross_revenue,gross_returns,recencydays,qtd_items,qtd_items_return,avg_ticket,frequency,avg_basket_size,n_purchases_unique
0,3.0,2.0,0.997319,0.0,2.0,0.028434,1.000000,0.003532,0.157895
1,2.0,2.0,0.083110,1.0,1.0,0.001893,0.001395,0.009761,0.043062
2,3.0,2.0,0.005362,3.0,2.0,0.000350,0.002052,0.023773,0.066986
3,1.0,0.0,0.254692,1.0,0.0,0.000410,0.000734,0.006135,0.019139
4,1.0,2.0,0.892761,0.0,2.0,0.002484,0.003985,0.001814,0.009569

In [28]:
#km = pd.read_pickle(f"s3://insiders-clustering-deploy/artifacts/model.pkl")
km = pd.read_pickle(f"artifacts/model.pkl")

In [29]:
df8=df5.copy()
df8['cluster']=km.predict(df8.drop('customerid', axis=1))
df8.groupby('cluster').mean().style.highlight_max( color='green', axis=0)

In [30]:
df9=df8.copy()
df9.head(3)

,customerid,gross_revenue,gross_returns,recencydays,qtd_items,qtd_items_return,avg_ticket,frequency,avg_basket_size,n_purchases_unique,cluster
0,17850,3.0,2.0,0.997319,0.0,2.0,0.028434,1.000000,0.003532,0.157895,4
1,13047,2.0,2.0,0.083110,1.0,1.0,0.001893,0.001395,0.009761,0.043062,4
2,12583,3.0,2.0,0.005362,3.0,2.0,0.000350,0.002052,0.023773,0.066986,2

In [31]:
for i in ['recencydays','qtd_items','qtd_items_return']:
    df9[i]=df9[i].astype(int)

In [32]:
endpoint = f"postgresql://dbfinal:dbfinal2@dbfinal.cegm6m2znhnj.sa-east-1.rds.amazonaws.com/postgres"

conn = create_engine( endpoint)


 #create table
query_create_table_insiders = """
    CREATE TABLE IF NOT EXISTS insiders ( 
       grossrevenue   REAL,
       gross_returns    REAL,
       recencydays    REAL,   
       qtd_items   REAL,
       qtd_items_return     REAL,
       avg_ticket   REAL,
       frequency       REAL,
       avg_basket_size  REAL,
       n_purchases_unique   REAL,
       cluster         INTEGER
   )
"""


conn.execute( query_create_table_insiders )
#conn.commit()
#conn.close()

# insert data
df9.to_sql( 'insiders', con=conn, if_exists='replace', index=False )

721

In [33]:
#get query

query_collect = """
SELECT * FROM insiders
"""

df=pd.read_sql_query( query_collect, conn)
df.head()

,customerid,gross_revenue,gross_returns,recencydays,qtd_items,qtd_items_return,avg_ticket,frequency,avg_basket_size,n_purchases_unique,cluster
0,17850,3.0,2.0,0,0,2,0.028434,1.000000,0.003532,0.157895,4
1,13047,2.0,2.0,0,1,1,0.001893,0.001395,0.009761,0.043062,4
2,12583,3.0,2.0,0,3,2,0.000350,0.002052,0.023773,0.066986,2
3,13748,1.0,0.0,0,1,0,0.000410,0.000734,0.006135,0.019139,0
4,15100,1.0,2.0,0,0,2,0.002484,0.003985,0.001814,0.009569,4

In [34]:
conn.clear_compiled_cache()

In [35]:
print('rodou tudo')

rodou tudo